.background{
    width: 220vh;
    height: 100vh;
    background-color: bisque;
    
}

.login{
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    
    
}
.link1{
    width:300px;
}

.link2{
    width:300px;
    
}
.header{
    padding-bottom: 10px;
    color: black;
}
.head{
    color: black;
    font-size: 32px;
    font-weight: 500;
    font-family: sans-serif;
}
.sub {
    font-size: 30px;
    letter-spacing: 2px;
    margin-bottom: 30px;
  }

  